<!DOCTYPE html>
<html>
  <head>
    <title>migarden</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if logged_in? %>
      <div class="app-layout">
        <%= render "shared/sidebar" %>
        <main class="main-content">
          <%= render "shared/flash" %>
          <%= yield %>
        </main>
      </div>
    <% else %>
      <div class="auth-layout">
        <%= render "shared/flash" %>
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
